@import url('https: //cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{ 
    font-family: Pretendard, -apple-systrrem, BlinkMacSystrremFont, systrrem-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

html, body{
    width: 100%; 
    height: 100%;
}

html{
    background: #F1F1F1;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    font-size: 1.25em;
    height: calc(100% - 20px);
}

a{
    text-decoration-line: none;
    color: inherit;
  
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

#header-top-container{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #DCDCDC;
    margin-left: 0;
}

#header-top{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(90% - 5%); 
    max-width: calc(1200px + 15% * 2);
    padding: 1.5rem;
}

#logo{
    width: 2.5rem;
}

#input{
    background: #F1F1F1; 
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 38.5px;
    height: 2.5rem; 
}

#input-search{
    font-size: 1rem;
    background: transparent; 
    width: 40rem; 
    margin-left: 1rem;
    color: #666666;
    border: none; 
}

#button-search{
    height: 2.5rem;
    background-color: transparent; 
    border: none;
}

#button-search img{
    margin-right: 10px; 
    width: 1.25rem;
}

#button-container{
    float: right;
}

#header-bottom-container{
    background-color: white;
    box-shadow: 0 0.25rem 0.12rem -0.12rem rgba(0,0,0,0.1);
    width: 100%;
}

#header-bottom{
    padding: 1rem;
}

#header-current{
    color: #4FAF5A;
    font-weight: bold;
}

ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

li{
    width: 20%;
}

li a{
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    text-align: center;
}

.button{
    font-size: 1.25rem;
    width: 10rem; 
    height: 2.5rem; 
    margin-left: 1rem; 
    background: transparent;
    color: #4FAF5A; 
    border-color: #4FAF5A;
    border-radius: 0.5rem;
}

#banner{
    width: 100%;
    height: 37.5rem;
    background: #666666;
}

#idea-container{
    margin-top: 8rem;
    width: calc(90% - 5%); 
    max-width: calc(1200px + 15% * 2);
}

#section-text{
    display: inline-block;
    background-color: #4FAF5A;
    color: white;
    border-radius: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1em;
}

#idea-container-1{
    float: left;
    background-color: yellow;
    width: 60%;
}

#idea-container-1-list{
    margin-top: 1.25rem;
}

#idea-container-1-card{
    width: 22.5%;
    background-color: aqua;
    border-radius: 1rem;
    float: left;
    margin-right: 2.5%;
}

#idea-container-1-card-image{
    display: block;
    height: 11rem;
}

#idea-container-1-card-content{
    padding: 0.5rem;
    float: left;
}

#idea-container-1-card-content-progress{
    font-size: 1rem;
    margin: 0;
    width: auto;
    color: #4FAF5A;
    border: 0.1rem solid #4FAF5A;
    border-radius: 1rem;
    text-align: center;
}

#idea-container-2{
    float: right;
    background-color: blue;
    width: 35%;
}

#idea-container-2-list{
    margin-top: 1.25rem;
}

#idea-container-2-card{
    width: 100%;
    height: 5em;
    background-color: aqua;
    border-radius: 1rem;
    float: left;
    margin-right: 1.5em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#idea-container-2-card-image{
    display: block;
    width: 12rem;
    border-radius: 1rem 0 0 1rem;
}

#idea-container-2-card-content{
    margin-left: 0.75rem;
    margin-right: 0.75em;
    padding: 0.5rem;
    width: 100%;
    float: left;
}

#idea-container-2-card-content-progress{
    font-size: 1rem;
    margin: 0;
    width: 10rem;
    color: #4FAF5A;
    border: 0.1rem solid #4FAF5A;
    border-radius: 1rem;
    text-align: center;
    float: right;
}

#content-title{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

#content-author{
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    float: left;
}