.search_frame{
    position: absolute;
    width: 715px;
    height: 146px;
    left: 48px;
}

.search_icon{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 606px;
    top: 48px;
    background-image: url("../img/img_search.png");
}

#l{
    
}

.search_button{
    position: absolute;
    width: 131px;
    height: 69px;
    left: 565px;
    top: 38px;

    background: #00D3A1;
    border: 5px solid #00D3A1;
    box-sizing: border-box;
    border-radius: 37px;
}

.search_bar{
    font-size: 1.5em;
    padding-left: 1.5em;
    position: absolute;
    width: 530px;
    height: 69px;
    left: 20px;
    top: 38PX;

    background: #B7FFDC;
    border: 5px solid #00D3A1;
    box-sizing: border-box;
    border-radius: 37px;
}